@media screen and (max-width:400px) {
    header {
        width: 100vh;
    }



    ul li span {
        margin-right: 0;
    }

    ul button {
        margin-left: 0px;
    }

    main .info {
        width: 100vh;
        text-align: center;
        align-items: center;
        padding-left: 0px;
    }

}