@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --primety-color:#7bd1d0
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #041939;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding: 10px;
}


nav img{
  width: 50px;
}
ul{
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}
ul li{
  font-weight: 500;
  font-size: 1.3rem;
  &:hover{
    cursor: pointer;
    color: var(--primety-color);
    transition: all 0.77s ease;
  }
}
ul li span{
  margin-right: 5px;
  font-weight: bold;
  color: var(--primety-color);
}

ul button{
  /* width: 50px; */
  padding: 10px 30px;
  background-color: transparent;
  border: 1px double white;
  font-size: 1.3rem;
  font-weight: bold;
  margin-left: 2rem;
  border:2px solid var(--primety-color);
  &:hover{
    cursor: pointer;
    background-color: var(--primety-color);
    transition: all 0.8s ease-in-out;
    transform: scale(1.1);
  }
}
/* // anbove code for navbar */
main{
  
  font-family: "Inter", sans-serif;
}
main .info{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100vw;
  overflow: hidden;
  padding-top: 5vw;
  padding-left:20vw;
}
main .greeting{
  color: var(--primety-color);
  font-size: 20px;
  font-weight: 600;
  text-align: start;
  margin: 0;
  padding-left: 10px;
}
main .title{
  margin-top: -0.4rem;
  text-overflow: none;
  font-size: 8vw;
  text-align: start;
  font-weight: 650;
  font-family: "Poppins", sans-serif;
  text-align: start;
  
}
main .sub-title{
  text-overflow: none;
  font-size: 5.5vw;
  text-align: start;
  font-weight: 650;
  font-family: "Poppins", sans-serif;
  text-align: start;
  text-wrap: nowrap;
  color: rgba(181, 177, 177, 0.668);
  margin-top: -1rem;
}
main .about{
  width: 60%;  
  overflow:hidden;
  margin-top: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
}
main .about span{
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
main button{
  margin-top: 2rem;
  padding: 1rem 1.2rem;
  border:4px double var(--primety-color);
  background-color: transparent;
  font-size: 1.1rem;
  font-weight: 600;
  &:hover{
    cursor: pointer;
    background-color: var(--primety-color);
    transition: all 1s ease-in-out;
  }
}